.queryCondition {
  height: 42px;
  margin-top: -66px;
  background-color: white;
}

.queryRow {
  padding-top: 5px;
}

.iterName .SQA {
  width: 100%;
  color: black;
}

.baseLineButton {
  margin-left: 10px;
  color: #46A0FC;
  background-color: #ECF5FF;
  border-radius: 5px;
}

