@import '../../../../global.less';
.spinWrap{
  height: 100%;
  :global{
    .ant-spin-container{
      height: 100%;
    }
  }
}
.preLayout {
  height: 100%;
  transition: all 0.5s;
  .layout {
    position: relative;
    background: rgba(0, 0, 0, 0.02);
    .formWrap {
      padding: 24px 16px;
    }

    .menu {
      color: initial;
      background: transparent;
    }
  }
  .layoutHidden{
    width: 0px!important;
  }

  .content {
    width: 100%;
    height: 100%;
    padding: 16px;
    background: white;
  }

  :global {
    .ant-menu-inline .ant-menu-item::after {
      right: initial;
      left: 0;
      border:none;
      //border-right: 3px dashed rgba(9, 109, 217, 0.1);
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background: rgba(0, 0, 0, 0.03) !important;
    }
    .ant-picker-input > input[disabled],
    .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      color: @color-text-title;
    }

    .AgGridReactTable {
      width: 100%;
      height: 200px;
      margin: 16px 0;
      text-align: center;

      img {
        cursor: pointer;
      }
    }

    .formItem {
      .ant-form {
        .ant-form-item {
          margin-bottom: 10px !important;
        }
      }
    }

    // select color
    .form-select{
      .ant-select-selection-item{
        color:@color-success;
      }
    }
    .sealVersionForm{
      .ant-form-item{
        margin-bottom: 12px;
        .ant-col-10{
          max-width: 100% !important;
        }
      }
    }
  }
  .collapse{
    position: absolute;
    top:calc(50% - 14px);
    right: -14px;
    width:28px;
    height: 50px;
    border-radius: 8px;
    background: rgba(white,0.4);
    box-shadow: @card-shadow;
    cursor:pointer;
    line-height: 45px;
    z-index: 99;
    img{
      width: 24px;
    }
  }
}
