.calendarList,.prePublish{
  margin-top: -10px;
  padding: 15px 10px 10px;
  background: white;
}
.profileAndProcess{
  padding: 10px;
  background: white;
}

.processDetail{
  .tableHeader{
    display: flex;
    margin:16px 0;
    :global{
      .ant-btn{
        background: transparent;
        color:initial;
        padding: 0 10px;
        &:nth-of-type(1){
          margin-left: 20px;
        }&:nth-of-type(2){
          border-color: #ffe58f;
          margin: 0 8px;
        }
      }
    }
    .remove{
      border-color: #ffa39e;
    }
  }
}

.onlineTab{
  :global{
    .ant-tabs-nav{
      border-radius: 6px;
      border:1px solid #f0f0f0;
      padding: 8px;
      &:before{
        border-bottom: 0 ;
      }
    }
    .ant-tabs-nav-list{
      .ant-tabs-tab{
        background:#eaf7ffd1 ;
        position: relative;
        line-height: 28px;
        height: 28px;
        min-width: 100px;
        text-indent: 0.5em;
        font-size: 13px;
        font-weight: bold;
        padding: 0 10px;
        &:after{
          content: ' ';
          display: block;
          width: 20px;
          height: 100%;
          border-style: solid;
          border-width: 13px 0 13px 20px;
          border-color: transparent transparent transparent #eaf7ffd1;
          position: absolute;
          right: -20px;
          top: 0;
        }
      }
    }
    .ant-btn{
      padding: 0 8px;
      border-radius: 4px;
      color:#46a0fc;
      border-color: #46a0fc85;
      background:  #ecf5ff;
    }
  }
}
.onlineTable{
  :global{
    .ant-table{
      max-width:100%;
    }
    th, td {
      white-space: nowrap;
      padding:5px 10px;
    }
    td{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
.resetForm{
  :global{
    .ant-form-item {
      margin-bottom: 8px;
    }
  }
}
.bgForm{
  background: #eaf7ffd1;
  border-radius: 4px;
  padding: 15px 10px;
}

