.prePublish {
  margin-top: -10px;
  padding: 0;
  background: white;
}

.profileAndProcess {
  padding: 10px;
  background: white;
}

.processDetail {
  .tableHeader {
    display: flex;
    margin: 16px 0;
    align-items: center;

    h4 {
      margin: 0
    }

    :global {
      .ant-btn {
        background: transparent;
        color: initial;
        padding: 0 10px;
        line-height: 22px;
        height: 22px;

        &:nth-of-type(1) {
          margin-left: 20px;
        }

        &:nth-of-type(2) {
          border-color: #fe7b00cf;
          margin: 0 10px;
        }
      }
    }

    .remove {
      border-color: red;
    }
  }
}

.onlineTab {
  transition: all ease-in 0.5s;

  :global {
    .ant-tabs-nav {
      border-radius: 6px;
      border: 1px solid #f0f0f0;
      padding: 8px;

      &:last-of-type {
        margin-top: -8px;
      }

      &:before {
        border-bottom: 0;
      }
    }

    .ant-tabs-tab {
      background: #e9f0fe;
      position: relative;
      line-height: 28px;
      height: 28px;
      min-width: 120px;
      text-indent: 0.5em;
      font-size: 13px;
      font-weight: bold;
      justify-content: center;
      margin: 0 0 0 15px;
    }

    .ant-tabs-nav-list {
      .ant-tabs-ink-bar {
        display: none;
      }

      .ant-tabs-tab-active {
        background: #4f91ff;

        &:after {
          border-color: transparent transparent transparent #4f91ff;
        }

        .ant-tabs-tab-btn {
          color: white
        }
      }
    }

    .ant-btn {
      padding: 0 8px;
      border-radius: 4px;
      color: #46a0fc;
      border-color: #46a0fc85;
      background: #ecf5ff;
    }

    .ant-btn[disabled] {
      background: #f5f5f5 !important;
      border-color: #d9d9d9 !important;
      color: #00000040 !important
    }
  }

}

.subTabs {
  :global {
    .ant-tabs-tab {
      border-radius: initial !important;

      &:before {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 0 14px 10px;
        border-color: transparent transparent transparent white;
        position: absolute;
        left: 0;
        top: 0;
      }

      &:after {
        content: ' ';
        display: block;
        height: 100%;
        border-style: solid;
        border-width: 14px 0 14px 12px;
        border-color: transparent transparent transparent #e9f0fe;
        position: absolute;
        right: -12px;
        top: 0;
      }
    }
  }
}

.onlineTab {
  :global {
    .ant-tabs-tab {
      border-radius: 6px;
    }
  }
}

.onlineTable {
  :global {
    .ant-table {
      max-width: 100%;
    }

    th, td {
      white-space: nowrap;
      padding: 5px 10px;
    }

    td {
      &:not(:first-child) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.resetForm {
  :global {
    .ant-form-item {
      margin-bottom: 10px;
    }
  }
}

.no-wrap-form .ant-form-item-control {
  min-width: 0 !important;
}

.bgForm {
  background: #eaf7ffd1;
  border-radius: 4px;
  padding: 15px 10px 5px;
}

// ant 的 select 展示框换行效果
.antSelectStyle {
  :global {
    .ant-select-selector {
      height: auto !important;
      //background-color: #4f91ff !important;
    }

    // 不生效可能是因为外层影响
    .ant-select-show-search.ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
      height: auto !important;
      //background-color: #4f91ff !important;
    }

    .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
      white-space: normal !important;
      word-break: break-all !important;
      //background-color: orange !important;
    }
  }
}
