.sprintListDetails{
  :global{
    .ag-theme-alpine {
      .ag-header{
        background: rgba(0,0,0,0.1) !important;
      }
    }
  }

}
.removeTableWarp{
  background:red;
  :global{
    .ant-table {
      width: 100%;
      th, td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 120px;
        padding: 5px !important;
      }
    }
  }
}
