.sprintListDetails{
  :global{
    .ag-theme-alpine {
      .ag-header{
        background: rgba(0,0,0,0.1) !important;
      }
    }
    .ant-page-header-heading-left,.ant-page-header-heading-title{
      width: 100%;
    }
  }
  .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .sprintTip{
      color:#16b2ff;
      font-size: 14px;
      height:28px;
      :global{
        .ant-btn{
          height: 100%;
          padding: 0 8px;
          border-radius: 4px;
          color:#46a0fc;
          border-color: #e0e0e0;
          &:first-child{
            margin-right: 5px;
            background:  #ecf5ff;
          }
        }
      }
    }
    .desc{
      display: flex;
      width: 100%;
      .tag{
        margin-left: 10px;
        font-size: 14px;
        font-weight: initial;
        label{
          color:blue;
        }
        span{
          display: inline-block;
          min-width:80px;
          text-align: center;

          border:1px solid #fcf6f6;
          line-height: 26px;
          &:nth-child(2){
            background: #fff6f6;
          }
          &:last-child{
            background: #e1e4ea80;
          }
          &:not(:last-child){
            margin-right: 5px;
          }
        }
      }
    }

  }
}
.removeTableWarp{
  :global{
    .ant-table {
      width: 100%;
      th, td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 120px;
        padding: 0px 8px 0!important;
      }
      th{
        padding: 6px!important;
      }
      .ant-form-item{
        margin-bottom: 2px;
      }
      .ant-form-item-with-help .ant-form-item-explain{
        height:12px;
        min-height: 12px;
      }
      .ant-form-item-explain-error{
        line-height: 12px;
        font-size: 12px;
      }
    }
  }
}
