@import '../../../../global.less';

.approveFlow {
  margin: 20px 0 0 40px;
  .signWrap {
    position: relative;
    overflow: initial;
    margin:15px;
    &:first-child{
      margin-left: 0px !important;
    }
    :global {
      .anticon {
        position: absolute;
        top: -10px;
        right:-10px;
        color: @color-text-hint;
      }
      .anticon-check-circle{
        color:rgba(@color-success, 0.7)
      }
      .personal{
        max-width: max-content !important;
        position: relative !important;
      }
      .info{
        color:@color-text;
        font-size: 14px;
        span{
          margin: 0 20px 0 0;
        }
      }
      .mark{
        display: inline-block;
        max-width: 600px;
        color:@color-text;
        font-size: 14px;
      }
    }

  }

  .addAnticon {
    color: @color-approve;
    font-size: 24px;
  }
  :global {
    .ant-timeline-item {
      padding-bottom: 5px;
      .ant-timeline-item-content {
        color: @color-text-title;
        font-size: 15px;

        p {
          margin: 0;

          &:last-child {
            margin-top: 8px;
          }
        }
      }
    }

    .ant-timeline-item-tail {
      top: 20px;
      height: calc(100% - 20px);
      border-left: 2px solid #d2d4d8;
    }
    .ant-timeline-item-head-custom {
      padding: 5px;
      color: white;
      font-size: 16px;
      background: lightblue;
      border-radius: 50%;
    }
    .tagSelector{
      .ant-collapse-header{
        padding: 0;
      }
      .ant-collapse-content > .ant-collapse-content-box{
        margin-left: 8px;
        padding: 0px 16px 5px;
      }
    }
  }
}
