.cell-span {
  background-color: white;
  /*  text-align: center;*/
  /*border-right: 1px solid lightgrey !important;*/
  border-bottom: 1px solid lightgrey !important;

  /*border:1px solid lightgrey !important;*/

}

.cell-span-total {
  background-color: #F8F8F8;
  border-bottom: 1px solid lightgrey !important;
}

/* 对表格的表头进行渲染 */
.ag-header-cell-label {
  color: black;
  font-size: x-small;
}
