@import '../../../../global.less';

.check {
  width: 100%;
  height: 100%;

  :global {
    .ant-tabs-tab {
      font-size: 16px;
    }
    .ant-tabs-nav-list{
      width: 500px;
      justify-content: space-between;
    }
    .ant-tabs-nav{
      margin-bottom: 30px;
    }
  }
}

.approve {
  padding-left: 20px;

  ul {
    margin: 0;
    padding: 0;
  }

  h3,
  strong {
    font-size: 18px;
  }

  li {
    color: @color-text-title;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.8em;
  }
}
