.marginStyle {
  margin-left: 25px;

}

.buttonStyle, .marginStyle {
  width: 140px;
  height: 100px;
}


.commonBtn {
  color: #1890FF
}

.saveButtonStyle, .commonBtn {
  //color: #46A0FC;
  //background-color: #ECF5FF;
  //border-radius: 5px;
  float: right;
}

// div 编辑时候边框样式

[contenteditable] {
  outline: 1px solid transparent;
  //border: 1px solid red;width: 100%;
}

[contenteditable]:focus {
  outline: 1px solid #1890FF;
  //box-shadow:1px 1px 1px #1890FF;

}

