/*  */
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-alpine.css';

/* 1. 设置滚动条的样式 */
::-webkit-scrollbar-track {
  background-color: #f1f1f5;
  border: 2px solid white;
}
/* 2. 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #dfe6e9;
}
/* 3. 设置滚动条的样式 */
::-webkit-scrollbar-thumb {
  background-color: #e7eaeb;
  border-radius: 8px;
}
/* 4. 设置滚动条的样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: #d3d5d6;
  border-radius: 8px;
}

/* 设置table边框的圆角 */
.myGrid > div {
  border-radius: 2px;
}
/* 限制table的字体尺寸 */
div.ag-theme-alpine div.ag-row {
  font-size: 14px !important;
}

/* 限制仅myGrid类下所有的cell的文本垂直居中 */
.myGrid .ag-row .ag-cell {
  display: flex;
  align-items: center;
  /* justify-content: center; */ /* 水平居中 */
}
