/* style项中样式是有顺序的,否则会有警告信息 */
.legendStyle {
  width: auto;
  padding: .5em;
  font-weight: bold;
  font-size: small;
  border: 0;
}

.fieldStyle {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid silver;
}
