/* style项中样式是有顺序的,否则会有警告信息 */
.legendStyle {
  width: auto;
  padding: .5em .5em .5em .5em;     /* 上右下左 */
  font-weight: bold;
  font-size: small;
  border: 0;
}

.fieldStyle {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid silver;
  /*height: 60px;*/

}

.cell-span {
  text-align: center;
  background-color: white;
  border-right: 1px solid lightgrey !important;
  border-bottom: 1px solid lightgrey !important;
}

