@import '~antd/es/style/themes/default.less';
@import './variable';
html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100%;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

:global {
  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .ant-btn-primary {
    color: @color-approve;
    text-shadow: initial;
    background: #ecf5ff;
    border-color: #b5d4ec;
    border-radius: 5px;
  }
}
.flex-row {
  display: flex;
  align-items: center;
}

.color-prefix {
  color: @color-approve;
}

.color-success {
  color: @color-success;
}

.color-failure,
.color-feature {
  color: @color-error;
}
.color-tips {
  color: @color-text-tips;
}

// 全局ag-grid-react 样式
.ag-initialize-theme {
  .ag-header {
    height: 40px !important;

    .ag-header-row {
      height: 100% !important;
    }
  }

  .ag-row {
    cursor: pointer;
    .ag-cell {
      text-align: center;
    }
    .cell-span {
      background: white;
    }
  }

  .ag-cell-wrapper,
  .ag-header-cell-label {
    justify-content: center;
  }
  .ag-drag {
    .ag-cell-wrapper {
      flex-direction: row-reverse;
    }
    .ag-row-drag {
      margin: 0 0 0 10px;

      .ag-icon-grip {
        &:before {
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url('../public/move.png') center/100% no-repeat;
          content: '';
        }
      }
    }
  }

  .operation {
    img {
      width: 20px;
      height: 20px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .ag-required {
    .ag-header-cell-text {
      &:before {
        margin-right: 5px;
        color: @color-text-primary;
        content: '*';
      }
    }
  }
}
.ant-table {
  .operation {
    img {
      width: 20px;
      height: 20px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
