@color-text: #7a8087;
@color-text-hint: #a0a3a7;
@color-text-title: #2f2f2f;
@color-text-tips: #da922a;
@color-text-primary: #fb4c3a;
@color-divider: #e3e6ed;
@color-approve: #21aff3;
@color-success: #099409;
@color-error: #e02c2c;
@color-warning: #d4d453;
@color-disabled:#f5f5f5;
